<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<head>
    <title>Изменение задачи</title>
    <style>

        h1 {
            margin-bottom: 20px;
        }

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="bg-dark">
<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3 bg-secondary">
    <a class="navbar-brand text-white" href="/">Менеджер задач <br>Твой путь к эффективности</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link text-white" href="/newTask">Новая задача</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/currentTasks">Текущие задачи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/users">Пользователи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/logout">Выйти</a>
        </li>
    </ul>
</nav>

<h1 class="text-white text-center">Изменение задачи</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card bg-white p-3">
                <form th:action=@{/currentTasksUpdate} th:object="${task}" method="post">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" th:field="*{id}" class="form-control" id="id"
                               aria-describedby="idHelp" readonly>
                        <div id="idHelp" class="form-text">Нельзя изменить</div>
                    </div>
                    <div class="mb-3">
                        <label for="createdDate" class="form-label">Дата создания</label>
                        <input type="date" th:field="*{createdDate}" class="form-control" id="createdDate"
                               aria-describedby="createdDateHelp" readonly>
                        <div id="createdDateHelp" class="form-text">Нельзя изменить</div>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Название</label>
                        <input th:if="${isOwner}" type="text" th:field="*{title}" class="form-control" id="title"
                               aria-describedby="titleHelp">
                        <input th:if="!${isOwner}" type="text" readonly th:field="*{title}" class="form-control" id="title"
                               aria-describedby="titleHelp">
                        <div th:if="!${isOwner}" id="titleHelp" class="form-text">Изменить может только автор</div>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Содержание</label>
                        <input th:if="${isOwner}" type="text" th:field="*{content}" class="form-control" id="content"
                               aria-describedby="contentHelp">
                        <input th:if="!${isOwner}" type="text" readonly th:field="*{content}" class="form-control" id="content"
                               aria-describedby="contentHelp">
                        <div th:if="!${isOwner}" id="contentHelp" class="form-text">Изменить может только автор</div>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Комментарий</label>
                        <input type="text" th:field="*{comment}" class="form-control" id="comment"
                               aria-describedby="commentHelp" placeholder="Комментарий">
                        <div id="commentHelp" class="form-text">Комментарий, если необходимо</div>
                    </div>
                    <div class="mb-3">
                        <label for="executor" class="form-label">Исполнитель задачи</label>
                        <select class="form-select" id="executor" th:field="*{executor}">
                            <option value="">Не задан</option>
                            <option th:each="e: ${executors}"
                                    th:value="${e.id}"
                                    th:text="${e.name}"></option>
                        </select>
                        <div id="executorHelp" class="form-text">Выберете из списка или назначьте позже</div>
                    </div>
                    <div class="mb-3">
                        <label for="deadlineDate" class="form-label">Дата дедлайна</label>
                        <input type="date" th:field="*{deadlineDate}" class="form-control" id="deadlineDate"
                               aria-describedby="deadlineDateHelp" placeholder="Дата дедлайна">
                        <div id="deadlineDateHelp" class="form-text">Выберите дату</div>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Исполнитель задачи</label>
                        <select class="form-select" id="status" th:field="*{status}">
                             <option th:each="e: ${statuses}"
                                    th:value="${e.name}"
                                    th:text="${e}"></option>
                        </select>
                        <div id="statusHelp" class="form-text">Установите новый статус задачи</div>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>